.navbar {
    background: #25a162;
}
.navbar-end .navbar-item.has-dropdown:hover .navbar-link,
.navbar-end .navbar-link:hover,
.navbar-end>a.navbar-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.nav-menu {
    padding-left: 1rem;
}
.nav-menu > .title {
    display: none;
}
.nav-menu > .nav-list {
    margin-left: 0;
}
