.navbar {
    background: #25a162;
}
.navbar-end .navbar-item.has-dropdown:hover .navbar-link,
.navbar-end .navbar-link:hover,
.navbar-end>a.navbar-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.nav-menu {
    padding-left: 1rem;
}
.nav-menu > .title {
    display: none;
}

.breadcrumbs li:first-child {
    display: none;
}

.toc .toc-menu a.is-active {
    border-left-color: #25a162;
}

.doc a {
    color: #dc524a
}
.doc a:hover {
    color: #b62b23
}

.doc .dlist dt {
    font-style: normal;
}

.version-banner {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    font-size: .88889rem;
    padding: 1rem 1rem .75rem;
    margin: 1.5rem 0;
}
