{{#with (resolvePage page.relativeSrcPath model=false)}}
    {{#unless (eq page.componentVersion.prerelease '-SNAPSHOT')}}
        {{#with ./assembler.pdf}}
            <div class="pdf-link">
                <a href="{{{relativize ./file.pub.url}}}{{{./fragment}}}">PDF</a>
            </div>
        {{/with}}
    {{/unless}}
    {{#with ./assembler.html}}
        <div class="html-link">
            <a href="{{{relativize ./file.pub.url}}}{{{./fragment}}}">Single page</a>
        </div>
    {{/with}}
{{/with}}
