<footer class="footer">
    <p>
        &copy; Copyright 2015-{{year}} the original author or authors.
        All rights reserved.
        The content of this page is made available under the terms of the <a href="https://www.eclipse.org/legal/epl-v20.html">Eclipse Public License v2.0</a>.
    </p>
    <p>
        This page was built using an adapted version of the Antora default UI.
        The source code for this UI is licensed under the terms of the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License v2.0</a>.
    </p>
</footer>
