name: Build site

on:
  push:
    branches:
      - docs-site
  pull_request:

jobs:
  build:
    name: Generate site using Antora
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .tool-versions
      - name: Download dependencies
        run: npm ci
      - name: Run Antora
        run: npm run build
